In [1]:
import pandas as pd
import seaborn as sns
import matplotlib as plt
import PyQt5
import os
from matplotlib import pyplot as plt

In [2]:
def list_files_in_dir(path):
    file_list = []
    for fname in os.listdir(path):
        newpath = os.path.join(path, fname)
        if os.path.isdir(newpath):
            # skip directories
            continue
        file_list.append(fname)
    # file_list.sort(key=lambda f: int("".join(filter(str.isdigit, f))))
    return file_list

In [3]:
column_names=["Left Angle","Right Angle"]
# a = andt.AngleDetector
path = "../data/exp/"
files = list_files_in_dir(path)

print(files)
dataframes = []
for file in files:
    full_path = path + file
    print(str(full_path))
    curr_df = pd.read_csv(full_path, names=column_names) 
    dataframes.append(curr_df)

['agk2010_full_06_23_exp1.csv', 'agk2010_full_06_23_exp2.csv', 'agk2010_full_06_23_exp3.csv', 'agk2010_full_06_23_exp4.csv', 'agk2010_full_06_23_exp5.csv', 'agk2010_full_06_23_exp6.csv', 'agk2010_full_06_23_exp7.csv', 'agk2010_sifted1mm_06_23_exp1.csv', 'agk2010_sifted1mm_06_23_exp2.csv', 'agk2010_sifted1mm_06_23_exp3.csv', 'agk2010_sifted1mm_06_23_exp4.csv', 'agk2010_sifted1mm_06_23_exp5.csv', 'exp1_agk_dist_phone_05_23.csv', 'exp2_agk_dist_phone_05_23.csv', 'exp3_agk_dist_phone_05_23.csv', 'expagk2010_full_06_23_exp1.csv', 'plate_precision.csv']
../data/exp/agk2010_full_06_23_exp1.csv
../data/exp/agk2010_full_06_23_exp2.csv
../data/exp/agk2010_full_06_23_exp3.csv
../data/exp/agk2010_full_06_23_exp4.csv
../data/exp/agk2010_full_06_23_exp5.csv
../data/exp/agk2010_full_06_23_exp6.csv
../data/exp/agk2010_full_06_23_exp7.csv
../data/exp/agk2010_sifted1mm_06_23_exp1.csv
../data/exp/agk2010_sifted1mm_06_23_exp2.csv
../data/exp/agk2010_sifted1mm_06_23_exp3.csv
../data/exp/agk2010_sifted1mm_06_23_exp4.csv
../data/exp/agk2010_sifted1mm_06_23_exp5.csv
../data/exp/exp1_agk_dist_phone_05_23.csv
../data/exp/exp2_agk_dist_phone_05_23.csv
../data/exp/exp3_agk_dist_phone_05_23.csv
../data/exp/expagk2010_full_06_23_exp1.csv
../data/exp/plate_precision.csv

In [4]:
import numpy as np

vid_fps = 60
dt = 1/vid_fps

for i, df in enumerate(dataframes):
    time = np.arange(0, df.shape[0] * dt, dt)
    df['Time'] = time
    df['Experiment'] = files[i]
    df[column_names[0]] = df[column_names[0]] * -1
    df["Mean"] = (df['Left Angle'] + df['Right Angle']) / 2

In [5]:
dataframes[0].head()

   Left Angle  Right Angle      Time                   Experiment  Mean
0        -0.0          0.0  0.000000  agk2010_full_06_23_exp1.csv   0.0
1        -0.0          0.0  0.016667  agk2010_full_06_23_exp1.csv   0.0
2        -0.0          0.0  0.033333  agk2010_full_06_23_exp1.csv   0.0
3        -0.0          0.0  0.050000  agk2010_full_06_23_exp1.csv   0.0
4        -0.0          0.0  0.066667  agk2010_full_06_23_exp1.csv   0.0

In [6]:
df = pd.concat(dataframes,)

In [7]:
df.head()

   Left Angle  Right Angle      Time                   Experiment  Mean
0        -0.0          0.0  0.000000  agk2010_full_06_23_exp1.csv   0.0
1        -0.0          0.0  0.016667  agk2010_full_06_23_exp1.csv   0.0
2        -0.0          0.0  0.033333  agk2010_full_06_23_exp1.csv   0.0
3        -0.0          0.0  0.050000  agk2010_full_06_23_exp1.csv   0.0
4        -0.0          0.0  0.066667  agk2010_full_06_23_exp1.csv   0.0

In [8]:
# df.plot('Time', ['Left Angle', 'Right Angle'])

In [9]:
df_filtered = df

In [10]:
# df_filtered["Left Angle"] = df_filtered["Left Angle"].rolling(20).median()
# df_filtered["Right Angle"]= df_filtered["Right Angle"].rolling(20).median()
# df_filtered["Mean"] = df_filtered["Mean"].rolling(100).median()

win = 10 

df_filtered["Filtered Mean"] = df_filtered["Mean"].rolling(win).mean()
df_filtered["Filtered Mean"] = df_filtered["Filtered Mean"].fillna(0)

df_filtered["Filtered Left"] = df_filtered["Left Angle"].rolling(win).mean()
df_filtered["Filtered Left"] = df_filtered["Filtered Left"].fillna(0)

df_filtered["Filtered Right"] = df_filtered["Right Angle"].rolling(win).mean()
df_filtered["Filtered Right"] = df_filtered["Filtered Right"].fillna(0)
df_filtered.tail()

,Left Angle,Right Angle,Time,Experiment,Mean,Filtered Mean,Filtered Left,Filtered Right
185,39.331431,38.731279,3.083333,plate_precision.csv,39.031355,39.080643,39.441967,38.71932
186,39.423707,38.612082,3.100000,plate_precision.csv,39.017894,39.059552,39.423585,38.69552
187,39.423707,38.731279,3.116667,plate_precision.csv,39.077493,39.050361,39.405203,38.69552
188,39.423707,38.731279,3.133333,plate_precision.csv,39.077493,39.045760,39.396000,38.69552
189,39.423707,38.731279,3.150000,plate_precision.csv,39.077493,39.041158,39.386796,38.69552

In [11]:
df_filtered.head()

,Left Angle,Right Angle,Time,Experiment,Mean,Filtered Mean,Filtered Left,Filtered Right
0,-0.0,0.0,0.000000,agk2010_full_06_23_exp1.csv,0.0,0.0,0.0,0.0
1,-0.0,0.0,0.016667,agk2010_full_06_23_exp1.csv,0.0,0.0,0.0,0.0
2,-0.0,0.0,0.033333,agk2010_full_06_23_exp1.csv,0.0,0.0,0.0,0.0
3,-0.0,0.0,0.050000,agk2010_full_06_23_exp1.csv,0.0,0.0,0.0,0.0
4,-0.0,0.0,0.066667,agk2010_full_06_23_exp1.csv,0.0,0.0,0.0,0.0

In [15]:
%matplotlib qt
plt.style.use("dark_background")

keyword1 = "full"
keyword2 = 'sifted'

a4_dims = (11.7, 8.27)
# ax = plt.subplots(figsize=a4_dims, dpi=500)
fig, ax = plt.subplots()
# ax1 = sns.lineplot(data=df_filtered[df_filtered['Experiment'].str.contains(keyword)], x="Time", y='Left Angle', 
#                    hue='Experiment', palette='viridis', linewidth='0.5')
# ax2 = sns.lineplot(data=df_filtered[df_filtered['Experiment'].str.contains(keyword)], x="Time", y='Right Angle', 
#                    hue='Experiment', palette='YlOrBr', linewidth='0.5')

ax3 = sns.lineplot(data=df_filtered[df_filtered['Experiment'].str.contains(keyword1)], x="Time", y='Filtered Right', 
                   hue='Experiment', palette='Greens', linewidth='1')

ax3 = sns.lineplot(data=df_filtered[df_filtered['Experiment'].str.contains(keyword2)], x="Time", y='Filtered Right', 
                   hue='Experiment', palette='OrRd', linewidth='1')


# ax3 = sns.lineplot(data=df_filtered[df_filtered['Experiment'].str.contains(keyword1)], x="Time", y='Filtered Right', 
#                    palette=["green"], linewidth='0.5')

# ax3 = sns.lineplot(data=df_filtered[df_filtered['Experiment'].str.contains(keyword2)], x="Time", y='Filtered Right', 
#                    palette=["red"], linewidth='0.5')


# sns.move_legend(ax, "upper left", bbox_to_anchor=(1, 1))
plt.ylim(35, 55)
plt.xlim(0, 250)
plt.ion()
plt.grid()

plt.show()

In [13]:

# graphs = {}

# legend = plt.legend(loc='upper right')
# print(legend.get_lines())
# line_legend = legend.get_lines()
# for line in enumerate(line_legend):
#     line.set_picker(True)
#     line.set_pickradius(10)
#     graphs[i] = line

# # graphs[line_legend] = ax1
# # graphs[dot_legend] = ax2




# def on_pick(event):
#     legend = event.artist
#     isVisible = legend.get_visible()

#     graphs[legend].set_visible(not isVisible)
#     legend.set_visible(not isVisible)

#     fig.canvas.draw()

# plt.connect('pick_event', on_pick)

In [14]:
import pstats
from pstats import SortKey

with open("output_time.txt", "w") as f:
    p = pstats.Stats("C:/Users/adamk/Projects/slope-finder/profiling_output.dat", stream=f)
    p.sort_stats("time").print_stats()